.disabled__block {
    position: relative;
}

.disabled__block:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    cursor: not-allowed;
}

.file__duration__input {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
